{%- if section.settings.show_announcement -%}
  <div class="announcement-bar bg-blue-500 text-white p-2 text-center">
    {{ section.settings.announcement_text }}
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show Announcement Bar",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "Free shipping on all orders over ৳2000 | Shop Now"
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar",
      "category": "Header"
    }
  ]
}
{% endschema %}
{% stylesheet %}


{% endstylesheet %}
